services:
  pihole:
    container_name: pihole
    image: {{ pihole_image }}
    depends_on:
      - unbound
    ports:
      - "{{ pihole_dns_port }}:53/tcp"
      - "{{ pihole_dns_port }}:53/udp"
      - "{{ pihole_http_port }}:80/tcp"
    environment:
      - TZ={{ timezone }}
      - FTLCONF_dns_listeningMode=all
      - FTLCONF_dns_dnssec=true
      - FTLCONF_dns_upstreams=unbound#{{ pihole_unbound_port }}
      - FTLCONF_database_maxDBdays=30
      - FTLCONF_webserver_api_password=${FTLCONF_webserver_api_password}
    volumes:
      - {{ pihole_dir }}/etc:/etc/pihole
    restart: unless-stopped

  unbound:
    container_name: unbound
    image: {{ pihole_unbound_image }}
    volumes:
      - ./unbound:/etc/unbound/custom.conf.d:ro
    restart: unless-stopped
