services:
  db-setup:
    image: {{ kopeika_server_image }}
    container_name: kopeika-db-setup
    command: ["node", "setup.mjs"]
    env_file: env
    volumes:
      - ./data:/data
    restart: "no"
  server:
    image: {{ kopeika_server_image }}
    container_name: kopeika-server
    env_file: env
    ports:
      - "127.0.0.1:{{ kopeika_port }}:3000"
    deploy:
      resources:
        limits:
          memory: 256M
    volumes:
      - ./data:/data
    restart: unless-stopped
    depends_on:
      db-setup:
        condition: service_completed_successfully
  bot:
    image: {{ kopeika_bot_image }}
    container_name: kopeika-bot
    env_file: env
    deploy:
      resources:
        limits:
          memory: 256M
    volumes:
      - ./data/bot:/data/bot
    restart: unless-stopped
    depends_on:
      server:
        condition: service_healthy
