[Unit]
Description=Update kopeika to the latest master build
RequiresMountsFor={{ data_dir }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ kopeika_dir }}/update.sh
