[Unit]
Description=Update easyoffer static site from GitHub
RequiresMountsFor={{ data_dir }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ ansible_user }}
ExecStart={{ easyoffer_dir }}/update.sh
