[Unit]
Description=Apply homelab firewall
Wants=network-online.target
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firewall-rpi.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
