RCLONE_CONFIG_GDRIVE_TYPE='drive'
RCLONE_CONFIG_GDRIVE_SCOPE='drive.file'
RCLONE_CONFIG_GDRIVE_TOKEN='{{ vault_rclone_gdrive_token }}'

RCLONE_CONFIG_GCRYPT_TYPE='crypt'
RCLONE_CONFIG_GCRYPT_REMOTE='gdrive:{{ backup_cloud_dir }}'

RCLONE_CONFIG_KOOFR_TYPE='koofr'
RCLONE_CONFIG_KOOFR_PROVIDER='koofr'
RCLONE_CONFIG_KOOFR_USER='{{ vault_rclone_koofr_user }}'
RCLONE_CONFIG_KOOFR_PASSWORD='{{ vault_rclone_koofr_app_password }}'

RCLONE_CONFIG_KCRYPT_TYPE='crypt'
RCLONE_CONFIG_KCRYPT_REMOTE='koofr:{{ backup_cloud_dir }}'

RCLONE_CRYPT_PASSWORD='{{ vault_rclone_crypt_password }}'
RCLONE_CRYPT_PASSWORD2='{{ vault_rclone_crypt_password2 }}'
RCLONE_CRYPT_FILENAME_ENCRYPTION='standard'
RCLONE_CRYPT_DIRECTORY_NAME_ENCRYPTION='true'
