[gdrive]
type = drive
scope = drive.file

[gcrypt]
type = crypt
remote = gdrive:{{ backup_cloud_dir }}
password = {{ vault_rclone_crypt_password }}
password2 = {{ vault_rclone_crypt_password2 }}
filename_encryption = standard
directory_name_encryption = true

[koofr]
type = koofr
provider = koofr
user = {{ vault_rclone_koofr_user }}
password = {{ vault_rclone_koofr_app_password }}

[kcrypt]
type = crypt
remote = koofr:{{ backup_cloud_dir }}
password = {{ vault_rclone_crypt_password }}
password2 = {{ vault_rclone_crypt_password2 }}
filename_encryption = standard
directory_name_encryption = true
