FORGEJO_URL='http://localhost:{{ forgejo_port }}'
FORGEJO_TOKEN='{{ vault_forgejo_token }}'
GITHUB_TOKEN='{{ vault_forgejo_github_token }}'
FORGEJO_ORG='mirrors'
FORGEJO_EXT_ORG='upstream'
FORGEJO_EXT_MIRRORS='{{ vault_forgejo_ext_mirrors | join(" ") }}'
